@model IEnumerable<ReviewSite.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Reviews</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                    <p>@Html.DisplayNameFor(model => model.PublishedDate): @Html.DisplayFor(modelItem => item.PublishedDate)</p>
                    <p>@Html.DisplayNameFor(model => model.Author) : @Html.DisplayFor(modelItem => item.Author)</p>
                    <h4>@Html.DisplayNameFor(model => model.Score) : @Html.DisplayFor(modelItem => item.Score)</h4>
                    <p>@Html.ActionLink("Review Details", "Details", new { id = item.ReviewID }, new { @class = "btn btn-primary", role = "button" })</p>                                       
                </div>
            </div>
        </div>
    }
</div>